learner_prefix         = "APP01"
environment            = "DEV"
warehouse_size         = "X-SMALL"

# Snowflake connection (from .env)
snowflake_organization = "ZVFXOZW"
snowflake_account      = "PM71247"
snowflake_user         = "DATA2AI"
